In [533]:
import pandas as pd
import numpy as np
import datetime

In [271]:
geoloca=Nominatim(user_agent="miriam")

In [517]:
df_clima= pd.read_csv("Data/AEMET_2000-2023.csv")

### Limpieza datos climáticos

La limpieza de datos se basa en eliminar aquellas columnas que no serán objeto de estudio y hacer cambios de formato en las restantes.

In [520]:
df_clima.head(5)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax
0,2000-01-01,4358X,DON BENITO,BADAJOZ,273,6.0,0.0,-0.6,07:35,12.5,14:30
1,2000-01-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,13.6,0.0,10.8,Varias,16.4,Varias
2,2000-01-01,4410X,MÉRIDA,BADAJOZ,228,7.4,0.0,0.0,06:20,14.9,16:10
3,2000-01-01,1690A,OURENSE,OURENSE,143,3.2,0.0,-2.4,08:45,8.8,16:25
4,2000-01-01,0002I,VANDELLÒS,TARRAGONA,32,NaN,NaN,NaN,NaN,NaN,NaN

In [515]:
df_clima.isnull().sum()

fecha              0
indicativo         0
nombre             0
provincia          0
altitud            0
tmed           73033
prec           74694
tmin           72649
horatmin      104493
tmax           72037
horatmax      102260
dtype: int64

In [518]:
borrado_columnas=['sol','presMax','horaPresMax','presMin','horaPresMin',"velmedia","racha","horaracha","dir"]
df_clima.drop(borrado_columnas, axis=1, inplace=True)

In [519]:
reemplazo_coma=["tmed","prec","tmin","tmax"]	

for col in reemplazo_coma:
    df_clima[col]=df_clima[col].str.replace(",",".")

In [521]:
df_clima["fecha"]=pd.to_datetime(df_clima["fecha"])
df_clima["prec"] = pd.to_numeric(df_clima["prec"], 'coerce')

In [ ]:
df_clima.to_csv('Data/CLIMA_2000_2023_COMPLETO.csv', index = False)