In [2]:
import pandas as pd
import requests

In [77]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-05-01T00%3A00%3A00UTC/fechafin/2019-05-10T23%3A59%3A59UTC/todasestaciones"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtaXJpYW1wYXJhbWlvbG9yZW56b0BnbWFpbC5jb20iLCJqdGkiOiI3MGJiNTNhNi00MDc2LTRkOTMtYTU4NS0yOGUxODE3N2FlNTAiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY3NTc2MTU3MywidXNlcklkIjoiNzBiYjUzYTYtNDA3Ni00ZDkzLWE1ODUtMjhlMTgxNzdhZTUwIiwicm9sZSI6IiJ9.BmatkYSBB3Hz4EN0TtNKDsl6MIA7buec5SFLrLJXBy8"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b8f04fec",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [80]:
res = requests.get("https://opendata.aemet.es/opendata/sh/b8f04fec")
response_j = res.json()

In [87]:
df_prueba=pd.DataFrame(response_j)
df_prueba

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2019-05-01,4358X,DON BENITO,BADAJOZ,273,"23,6","0,0","15,5",06:00,"31,8",15:30,21,"1,7","7,8",18:30,"10,7","980,7",00,"976,6",17
1,2019-05-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,NaN,NaN,NaN,NaN,NaN,NaN,26,"1,1","7,8",21:00,NaN,NaN,NaN,NaN,NaN
2,2019-05-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"15,5","0,1","12,9",05:45,"18,1",13:41,99,"11,1","17,5",Varias,"3,8","945,0",Varias,"942,6",04
3,2019-05-01,6106X,ANTEQUERA,MALAGA,408,"18,5","0,0","12,5",05:00,"24,5",16:00,16,"2,5","11,1",10:30,NaN,"966,0",00,"962,1",Varias
4,2019-05-01,9698U,TALARN,LLEIDA,807,"15,4","1,2","8,5",04:00,"22,2",14:30,18,"2,8","8,3",12:30,"12,2","923,3",22,"919,6",16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2481,2019-05-10,9573X,ALCAÑIZ,TERUEL,334,"21,4","0,9","13,4",05:10,"29,3",15:10,30,"1,7","11,4",12:00,NaN,NaN,NaN,NaN,NaN
2482,2019-05-10,8416,VALÈNCIA,VALENCIA,11,"26,8","0,0","21,2",NaN,"32,5",NaN,NaN,NaN,NaN,NaN,"11,6",NaN,NaN,NaN,NaN
2483,2019-05-10,7119B,CARAVACA DE LA CRUZ,MURCIA,643,"20,4","0,0","11,5",04:30,"29,3",13:40,06,"1,9","6,4",11:10,"10,6","943,7",24,"940,1",Varias
2484,2019-05-10,0255B,SANTA SUSANNA,BARCELONA,40,"15,5",NaN,"10,6",03:50,"20,4",08:40,21,"1,7","6,4",13:20,NaN,NaN,NaN,NaN,NaN
2485,2019-05-10,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"19,9","0,0","10,7",05:00,"29,1",15:20,NaN,NaN,NaN,NaN,NaN,"969,3",23,"967,0",Varias

In [108]:
df_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2486 entries, 0 to 2485
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        2486 non-null   object
 1   indicativo   2486 non-null   object
 2   nombre       2486 non-null   object
 3   provincia    2486 non-null   object
 4   altitud      2486 non-null   object
 5   tmed         2441 non-null   object
 6   prec         2414 non-null   object
 7   tmin         2441 non-null   object
 8   horatmin     2409 non-null   object
 9   tmax         2443 non-null   object
 10  horatmax     2409 non-null   object
 11  dir          2331 non-null   object
 12  velmedia     2360 non-null   object
 13  racha        2331 non-null   object
 14  horaracha    2331 non-null   object
 15  sol          1393 non-null   object
 16  presMax      1836 non-null   object
 17  horaPresMax  1836 non-null   object
 18  presMin      1836 non-null   object
 19  horaPresMin  1836 non-null   object
dtypes: object(20)
memory usage: 388.6+ KB

In [238]:
YYYYMM_list=[]
for y in range(2022,2023):
    for m in range(1,13):
        if m<10:
            YYYYMM_list.append(f"{y}-0{m}")
        else:
            YYYYMM_list.append(f"{y}-{m}")

In [637]:
#Lista de fechas para la llamada
YYYYMM_list=[]
for y in range(2000,2001):
    for m in range(1,13):
        if m<10:
            YYYYMM_list.append(f"{y}-0{m}")
        else:
            YYYYMM_list.append(f"{y}-{m}")

In [638]:
#Lista de url
url_list=[]

for YYYYMM in YYYYMM_list:
    
    url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{YYYYMM}-01T00%3A00%3A00UTC/fechafin/{YYYYMM}-31T23%3A59%3A59UTC/todasestaciones"
    
    querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtaXJpYW1wYXJhbWlvbG9yZW56b0BnbWFpbC5jb20iLCJqdGkiOiI3MGJiNTNhNi00MDc2LTRkOTMtYTU4NS0yOGUxODE3N2FlNTAiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY3NTc2MTU3MywidXNlcklkIjoiNzBiYjUzYTYtNDA3Ni00ZDkzLWE1ODUtMjhlMTgxNzdhZTUwIiwicm9sZSI6IiJ9.BmatkYSBB3Hz4EN0TtNKDsl6MIA7buec5SFLrLJXBy8"}
    
    headers = {
        'cache-control': "no-cache"
        }
    
    response = requests.request("GET", url, headers=headers, params=querystring)
    
    if response.status_code == 200:
        url_clean=((response.text).split(" "))[12].replace(",\n", "").replace('"', "")
        url_list.append(url_clean)
        print(YYYYMM)
    else:
        print(f"NO {YYYYMM}")
        continue

2000-01
2000-02
2000-03
2000-04
2000-05
2000-06
2000-07
2000-08
2000-09
2000-10
2000-11
2000-12

In [ ]:
#Descarga de info.
result = []
for url in url_list:
    try:
        res= requests.get(f"{url}")
        print(url)
        print(res.status_code)
        result.append(res.json())
    except:
        pass

In [644]:
#construcción df
df_ini=pd.DataFrame([r for d in result for r in d])

In [645]:
df_ini.duplicated().sum()

1028

In [646]:
df_def= df_ini.drop_duplicates()

In [647]:
df_def.duplicated().sum()

0

In [ ]:
#csv anual guardado
df_def.to_csv('Climatic_dashboard/Data/AEMET_2000.csv', index = False)

In [ ]:
#concat guardado
df_concat = pd.concat([df2000,
                        df2001,
                        df2002,
                        df2003,
                        df2004,
                        df2005,
                        df2006,
                        df2007,
                        df2008,
                        df2009,
                        df2010,
                        df2011,
                        df2012,
                        df2013,
                        df2014,
                        df2015,
                        df2016,
                        df2017,
                        df2018,
                        df2019,
                        df2020,
                        df2021,
                        df2022,
                        df2023],
axis=0, ignore_index = True)

In [ ]:
df_concat.duplicated().sum()

In [648]:
df_def["fecha"].unique()

array(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
       '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
       '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
       '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
       '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
       '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
       '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
       '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
       '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
       '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
       '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
       '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
       '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
       '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
       '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
       '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
       '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
       '2000-03-09', '2000-03-10', '2000-03-11', '2000-03-12',
       '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16',
       '2000-03-17', '2000-03-18', '2000-03-19', '2000-03-20',
       '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24',
       '2000-03-25', '2000-03-26', '2000-03-27', '2000-03-28',
       '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-01',
       '2000-04-02', '2000-04-03', '2000-04-04', '2000-04-05',
       '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09',
       '2000-04-10', '2000-04-11', '2000-04-12', '2000-04-13',
       '2000-04-14', '2000-04-15', '2000-04-16', '2000-04-17',
       '2000-04-18', '2000-04-19', '2000-04-20', '2000-04-21',
       '2000-04-22', '2000-04-23', '2000-04-24', '2000-04-25',
       '2000-04-26', '2000-04-27', '2000-04-28', '2000-04-29',
       '2000-04-30', '2000-05-01', '2000-05-02', '2000-05-03',
       '2000-05-04', '2000-05-05', '2000-05-06', '2000-05-07',
       '2000-05-08', '2000-05-09', '2000-05-10', '2000-05-11',
       '2000-05-12', '2000-05-13', '2000-05-14', '2000-05-15',
       '2000-05-16', '2000-05-17', '2000-05-18', '2000-05-19',
       '2000-05-20', '2000-05-21', '2000-05-22', '2000-05-23',
       '2000-05-24', '2000-05-25', '2000-05-26', '2000-05-27',
       '2000-05-28', '2000-05-29', '2000-05-30', '2000-05-31',
       '2000-06-01', '2000-06-02', '2000-06-03', '2000-06-04',
       '2000-06-05', '2000-06-06', '2000-06-07', '2000-06-08',
       '2000-06-09', '2000-06-10', '2000-06-11', '2000-06-12',
       '2000-06-13', '2000-06-14', '2000-06-15', '2000-06-16',
       '2000-06-17', '2000-06-18', '2000-06-19', '2000-06-20',
       '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
       '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
       '2000-06-29', '2000-06-30', '2000-07-01', '2000-07-02',
       '2000-07-03', '2000-07-04', '2000-07-05', '2000-07-06',
       '2000-07-07', '2000-07-08', '2000-07-09', '2000-07-10',
       '2000-07-11', '2000-07-12', '2000-07-13', '2000-07-14',
       '2000-07-15', '2000-07-16', '2000-07-17', '2000-07-18',
       '2000-07-19', '2000-07-20', '2000-07-21', '2000-07-22',
       '2000-07-23', '2000-07-24', '2000-07-25', '2000-07-26',
       '2000-07-27', '2000-07-28', '2000-07-29', '2000-07-30',
       '2000-07-31', '2000-08-01', '2000-08-02', '2000-08-03',
       '2000-08-04', '2000-08-05', '2000-08-06', '2000-08-07',
       '2000-08-08', '2000-08-09', '2000-08-10', '2000-08-11',
       '2000-08-12', '2000-08-13', '2000-08-14', '2000-08-15',
       '2000-08-16', '2000-08-17', '2000-08-18', '2000-08-19',
       '2000-08-20', '2000-08-21', '2000-08-22', '2000-08-23',
       '2000-08-24', '2000-08-25', '2000-08-26', '2000-08-27',
       '2000-08-28', '2000-08-29', '2000-08-30', '2000-08-31',
       '2000-09-01', '2000-09-02', '2000-09-03', '2000-09-04',
       '2000-09-05', '2000-09-06', '2000-09-07', '2000-09-08',
       '2000-09-09', '2000-09-10', '2000-09-11', '2000-09-12',
       '2000-09-13', '2000-09-14', '2000-09-15', '2000-09-16',
       '2000-09-17', '2000-09-18', '2000-09-19', '2000-09-20',
       '2000-09-21', '2000-09-22', '2000-09-23', '2000-09-24',
       '2000-09-25', '2000-09-26', '2000-09-27', '2000-09-28',
       '2000-09-29', '2000-09-30', '2000-10-01', '2000-10-02',
       '2000-10-03', '2000-10-04', '2000-10-05', '2000-10-06',
       '2000-10-07', '2000-10-08', '2000-10-09', '2000-10-10',
       '2000-10-11', '2000-10-12', '2000-10-13', '2000-10-14',
       '2000-10-15', '2000-10-16', '2000-10-17', '2000-10-18',
       '2000-10-19', '2000-10-20', '2000-10-21', '2000-10-22',
       '2000-10-23', '2000-10-24', '2000-10-25', '2000-10-26',
       '2000-10-27', '2000-10-28', '2000-10-29', '2000-10-30',
       '2000-10-31', '2000-11-01', '2000-11-02', '2000-11-03',
       '2000-11-04', '2000-11-05', '2000-11-06', '2000-11-07',
       '2000-11-08', '2000-11-09', '2000-11-10', '2000-11-11',
       '2000-11-12', '2000-11-13', '2000-11-14', '2000-11-15',
       '2000-11-16', '2000-11-17', '2000-11-18', '2000-11-19',
       '2000-11-20', '2000-11-21', '2000-11-22', '2000-11-23',
       '2000-11-24', '2000-11-25', '2000-11-26', '2000-11-27',
       '2000-11-28', '2000-11-29', '2000-11-30', '2000-12-01',
       '2000-12-02', '2000-12-03', '2000-12-04', '2000-12-05',
       '2000-12-06', '2000-12-07', '2000-12-08', '2000-12-09',
       '2000-12-10', '2000-12-11', '2000-12-12', '2000-12-13',
       '2000-12-14', '2000-12-15', '2000-12-16', '2000-12-17',
       '2000-12-18', '2000-12-19', '2000-12-20', '2000-12-21',
       '2000-12-22', '2000-12-23', '2000-12-24', '2000-12-25',
       '2000-12-26', '2000-12-27', '2000-12-28', '2000-12-29',
       '2000-12-30', '2000-12-31'], dtype=object)

In [8]:
df2000= pd.read_csv('Data/AEMET_2000.csv')
df2001= pd.read_csv('Data/AEMET_2001.csv')
df2002= pd.read_csv('Data/AEMET_2002.csv')
df2003= pd.read_csv('Data/AEMET_2003.csv')
df2004= pd.read_csv('Data/AEMET_2004.csv')
df2005= pd.read_csv('Data/AEMET_2005.csv')
df2006= pd.read_csv('Data/AEMET_2006.csv')
df2007= pd.read_csv('Data/AEMET_2007.csv')
df2008= pd.read_csv('Data/AEMET_2008.csv')
df2009= pd.read_csv('Data/AEMET_2009.csv')
df2010= pd.read_csv('Data/AEMET_2010.csv')
df2011= pd.read_csv('Data/AEMET_2011.csv')
df2012= pd.read_csv('Data/AEMET_2012.csv')
df2013= pd.read_csv('Data/AEMET_2013.csv')
df2014= pd.read_csv('Data/AEMET_2014.csv')
df2015= pd.read_csv('Data/AEMET_2015.csv')
df2016= pd.read_csv('Data/AEMET_2016.csv')
df2017= pd.read_csv('Data/AEMET_2017.csv')
df2018= pd.read_csv('Data/AEMET_2018.csv')
df2019= pd.read_csv('Data/AEMET_2019.csv')
df2020= pd.read_csv('Data/AEMET_2020.csv')
df2021= pd.read_csv('Data/AEMET_2021.csv')
df2022= pd.read_csv('Data/AEMET_2022.csv')
df2023= pd.read_csv('Data/AEMET_2023.csv')

In [7]:
for i in range(2000, 2024):
    print(f"df{i}= pd.read_csv('Data/AEMET_{i}.csv')")

df2000= pd.read_csv('Data/AEMET_2000.csv')
df2001= pd.read_csv('Data/AEMET_2001.csv')
df2002= pd.read_csv('Data/AEMET_2002.csv')
df2003= pd.read_csv('Data/AEMET_2003.csv')
df2004= pd.read_csv('Data/AEMET_2004.csv')
df2005= pd.read_csv('Data/AEMET_2005.csv')
df2006= pd.read_csv('Data/AEMET_2006.csv')
df2007= pd.read_csv('Data/AEMET_2007.csv')
df2008= pd.read_csv('Data/AEMET_2008.csv')
df2009= pd.read_csv('Data/AEMET_2009.csv')
df2010= pd.read_csv('Data/AEMET_2010.csv')
df2011= pd.read_csv('Data/AEMET_2011.csv')
df2012= pd.read_csv('Data/AEMET_2012.csv')
df2013= pd.read_csv('Data/AEMET_2013.csv')
df2014= pd.read_csv('Data/AEMET_2014.csv')
df2015= pd.read_csv('Data/AEMET_2015.csv')
df2016= pd.read_csv('Data/AEMET_2016.csv')
df2017= pd.read_csv('Data/AEMET_2017.csv')
df2018= pd.read_csv('Data/AEMET_2018.csv')
df2019= pd.read_csv('Data/AEMET_2019.csv')
df2020= pd.read_csv('Data/AEMET_2020.csv')
df2021= pd.read_csv('Data/AEMET_2021.csv')
df2022= pd.read_csv('Data/AEMET_2022.csv')
df2023= pd.read_csv('Data/AEMET_2023.csv')

In [12]:
for i in range(2000, 2024):
    print(f"df{i},")

df2000,
df2001,
df2002,
df2003,
df2004,
df2005,
df2006,
df2007,
df2008,
df2009,
df2010,
df2011,
df2012,
df2013,
df2014,
df2015,
df2016,
df2017,
df2018,
df2019,
df2020,
df2021,
df2022,
df2023,

In [649]:
df_def.to_csv('Climatic_dashboard/Data/AEMET_2000.csv', index = False)

In [13]:
df_concat = pd.concat([df2000,
df2001,
df2002,
df2003,
df2004,
df2005,
df2006,
df2007,
df2008,
df2009,
df2010,
df2011,
df2012,
df2013,
df2014,
df2015,
df2016,
df2017,
df2018,
df2019,
df2020,
df2021,
df2022,
df2023], axis=0, ignore_index = True) #False mantiene los índices originales
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1919680 entries, 0 to 1919679
Data columns (total 20 columns):
 #   Column       Dtype
---  ------       -----
 0   fecha        object
 1   indicativo   object
 2   nombre       object
 3   provincia    object
 4   altitud      int64
 5   tmed         object
 6   prec         object
 7   tmin         object
 8   horatmin     object
 9   tmax         object
 10  horatmax     object
 11  dir          float64
 12  velmedia     object
 13  racha        object
 14  horaracha    object
 15  sol          object
 16  presMax      object
 17  horaPresMax  object
 18  presMin      object
 19  horaPresMin  object
dtypes: float64(1), int64(1), object(18)
memory usage: 292.9+ MB

In [ ]:
respuesta = requests.get(f"{url_test}")
respuesta_j = respuesta.json()

In [254]:
df = pd.DataFrame()

In [255]:
len(df)

0

In [246]:
x=response.text

In [241]:
x

'{\n  "descripcion" : "exito",\n  "estado" : 200,\n  "datos" : "https://opendata.aemet.es/opendata/sh/e98280a1",\n  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"\n}'

In [242]:
z=(x.split(" "))[12].replace(",\n", "").replace('"', "")

In [243]:
z

'https://opendata.aemet.es/opendata/sh/e98280a1'

In [223]:
url_test=z[12].replace(",\n", "").replace('"', "")

In [224]:
url_test

'https://opendata.aemet.es/opendata/sh/f98f9155'

In [225]:
respuesta = requests.get(f"{url_test}")
respuesta_j = respuesta.json()

In [195]:
prueba_app=[]

In [194]:
len(respuesta_222)

30

In [192]:
df_concat0 = pd.concat([df_prueba_1, respuesta_222], axis=0, ignore_index = True) #False mantiene los índices originales
df_concat0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       60 non-null     object
 1   indicativo  60 non-null     object
 2   nombre      60 non-null     object
 3   provincia   60 non-null     object
 4   altitud     60 non-null     object
 5   tmed        60 non-null     object
 6   prec        60 non-null     object
 7   tmin        60 non-null     object
 8   tmax        60 non-null     object
 9   sol         60 non-null     object
dtypes: object(10)
memory usage: 4.8+ KB

In [182]:
df_prueba_1=pd.DataFrame(respuesta_j)
df_prueba_1

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,tmax,sol
0,2019-02-01,8416,VALÈNCIA,VALENCIA,11,"17,6","0,0","16,5","18,7","7,1"
1,2019-02-02,8416,VALÈNCIA,VALENCIA,11,"13,4","0,0","9,8","17,1","6,1"
2,2019-02-03,8416,VALÈNCIA,VALENCIA,11,"10,6","0,0","7,7","13,6","9,3"
3,2019-02-04,8416,VALÈNCIA,VALENCIA,11,"10,6","0,0","4,1","17,2","9,3"
4,2019-02-05,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","7,5","21,6","9,2"
5,2019-02-06,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","8,8","20,4","7,2"
6,2019-02-07,8416,VALÈNCIA,VALENCIA,11,"15,0","0,0","7,3","22,8","8,0"
7,2019-02-08,8416,VALÈNCIA,VALENCIA,11,"12,2","0,0","7,1","17,4","8,9"
8,2019-02-09,8416,VALÈNCIA,VALENCIA,11,"13,2","0,0","5,9","20,4","7,6"
9,2019-02-10,8416,VALÈNCIA,VALENCIA,11,"14,0","0,0","8,7","19,3","3,7"
10,2019-02-11,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","9,8","19,5","7,0"
11,2019-02-12,8416,VALÈNCIA,VALENCIA,11,"11,2","0,0","5,5","17,0","8,6"
12,2019-02-13,8416,VALÈNCIA,VALENCIA,11,"10,6","0,0","4,8","16,5","9,6"
13,2019-02-14,8416,VALÈNCIA,VALENCIA,11,"11,8","0,0","8,5","15,2","4,4"
14,2019-02-15,8416,VALÈNCIA,VALENCIA,11,"10,9","0,0","6,4","15,4","3,4"
15,2019-02-16,8416,VALÈNCIA,VALENCIA,11,"11,2","0,0","5,5","16,8","9,6"
16,2019-02-17,8416,VALÈNCIA,VALENCIA,11,"10,0","0,0","4,0","16,1","3,5"
17,2019-02-18,8416,VALÈNCIA,VALENCIA,11,"11,9","0,0","6,9","16,9","6,2"
18,2019-02-19,8416,VALÈNCIA,VALENCIA,11,"11,4","0,0","6,1","16,6","9,3"
19,2019-02-20,8416,VALÈNCIA,VALENCIA,11,"11,8","0,0","6,7","17,0","8,4"
20,2019-02-21,8416,VALÈNCIA,VALENCIA,11,"12,0","0,0","7,4","16,6","9,1"
21,2019-02-22,8416,VALÈNCIA,VALENCIA,11,"14,1","0,0","5,7","22,5","9,5"
22,2019-02-23,8416,VALÈNCIA,VALENCIA,11,"15,3","0,0","8,9","21,7","9,5"
23,2019-02-24,8416,VALÈNCIA,VALENCIA,11,"12,4","0,0","7,3","17,5","6,6"
24,2019-02-25,8416,VALÈNCIA,VALENCIA,11,"12,2","0,0","5,7","18,6","8,8"
25,2019-02-26,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","6,6","22,6","10,1"
26,2019-02-27,8416,VALÈNCIA,VALENCIA,11,"15,8","0,0","6,2","25,4","10,1"
27,2019-02-28,8416,VALÈNCIA,VALENCIA,11,"15,9","0,0","8,2","23,6","9,5"
28,2019-03-01,8416,VALÈNCIA,VALENCIA,11,"15,3","0,0","8,9","21,7","9,4"
29,2019-03-02,8416,VALÈNCIA,VALENCIA,11,"15,9","0,0","9,0","22,8","9,8"

In [110]:
respuesta_2 = requests.get("https://opendata.aemet.es/opendata/sh/4b8ea6fe")
respuesta_22 = respuesta_2.json()

In [111]:
respuesta_222=pd.DataFrame(respuesta_22)
respuesta_222

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,tmax,sol
0,2019-02-01,8416,VALÈNCIA,VALENCIA,11,"17,6","0,0","16,5","18,7","7,1"
1,2019-02-02,8416,VALÈNCIA,VALENCIA,11,"13,4","0,0","9,8","17,1","6,1"
2,2019-02-03,8416,VALÈNCIA,VALENCIA,11,"10,6","0,0","7,7","13,6","9,3"
3,2019-02-04,8416,VALÈNCIA,VALENCIA,11,"10,6","0,0","4,1","17,2","9,3"
4,2019-02-05,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","7,5","21,6","9,2"
5,2019-02-06,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","8,8","20,4","7,2"
6,2019-02-07,8416,VALÈNCIA,VALENCIA,11,"15,0","0,0","7,3","22,8","8,0"
7,2019-02-08,8416,VALÈNCIA,VALENCIA,11,"12,2","0,0","7,1","17,4","8,9"
8,2019-02-09,8416,VALÈNCIA,VALENCIA,11,"13,2","0,0","5,9","20,4","7,6"
9,2019-02-10,8416,VALÈNCIA,VALENCIA,11,"14,0","0,0","8,7","19,3","3,7"
10,2019-02-11,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","9,8","19,5","7,0"
11,2019-02-12,8416,VALÈNCIA,VALENCIA,11,"11,2","0,0","5,5","17,0","8,6"
12,2019-02-13,8416,VALÈNCIA,VALENCIA,11,"10,6","0,0","4,8","16,5","9,6"
13,2019-02-14,8416,VALÈNCIA,VALENCIA,11,"11,8","0,0","8,5","15,2","4,4"
14,2019-02-15,8416,VALÈNCIA,VALENCIA,11,"10,9","0,0","6,4","15,4","3,4"
15,2019-02-16,8416,VALÈNCIA,VALENCIA,11,"11,2","0,0","5,5","16,8","9,6"
16,2019-02-17,8416,VALÈNCIA,VALENCIA,11,"10,0","0,0","4,0","16,1","3,5"
17,2019-02-18,8416,VALÈNCIA,VALENCIA,11,"11,9","0,0","6,9","16,9","6,2"
18,2019-02-19,8416,VALÈNCIA,VALENCIA,11,"11,4","0,0","6,1","16,6","9,3"
19,2019-02-20,8416,VALÈNCIA,VALENCIA,11,"11,8","0,0","6,7","17,0","8,4"
20,2019-02-21,8416,VALÈNCIA,VALENCIA,11,"12,0","0,0","7,4","16,6","9,1"
21,2019-02-22,8416,VALÈNCIA,VALENCIA,11,"14,1","0,0","5,7","22,5","9,5"
22,2019-02-23,8416,VALÈNCIA,VALENCIA,11,"15,3","0,0","8,9","21,7","9,5"
23,2019-02-24,8416,VALÈNCIA,VALENCIA,11,"12,4","0,0","7,3","17,5","6,6"
24,2019-02-25,8416,VALÈNCIA,VALENCIA,11,"12,2","0,0","5,7","18,6","8,8"
25,2019-02-26,8416,VALÈNCIA,VALENCIA,11,"14,6","0,0","6,6","22,6","10,1"
26,2019-02-27,8416,VALÈNCIA,VALENCIA,11,"15,8","0,0","6,2","25,4","10,1"
27,2019-02-28,8416,VALÈNCIA,VALENCIA,11,"15,9","0,0","8,2","23,6","9,5"
28,2019-03-01,8416,VALÈNCIA,VALENCIA,11,"15,3","0,0","8,9","21,7","9,4"
29,2019-03-02,8416,VALÈNCIA,VALENCIA,11,"15,9","0,0","9,0","22,8","9,8"

In [112]:
lista_req=["https://opendata.aemet.es/opendata/sh/4b8ea6fe","https://opendata.aemet.es/opendata/sh/488d5e3a"]

In [120]:
for i in range(0,len(lista_req)):
    response = requests.request("GET", url, headers=headers, params=querystring)
    print(type(response))

<class 'requests.models.Response'>
<class 'requests.models.Response'>

In [51]:
df_inicial=pd.read_excel("T_Embalses 1988-2023.xlsx")
df= df_inicial.copy()

In [52]:
df

,AMBITO_NOMBRE,EMBALSE_NOMBRE,FECHA,AGUA_TOTAL,AGUA_ACTUAL,ELECTRICO_FLAG
0,Segura,Argos,2023-01-31,"10,00","7,00",0
1,Duero,Cervera,2023-01-31,"10,00","4,00",0
2,Guadiana,Cubilar,2023-01-31,"10,00","3,00",0
3,Ebro,Guiamets,2023-01-31,"10,00","1,00",0
4,Júcar,La Toba,2023-01-31,"10,00","8,00",1
...,...,...,...,...,...,...
651346,Tajo,Rosarito,1988-01-05,"93,00","53,00",0
651347,Duero,Compuerto,1988-01-05,"95,00","80,00",0
651348,Guadalquivir,Iznájar,1988-01-05,"980,00","363,00",0
651349,Tajo,Aceña,1987-10-13,"24,00","2,00",0
651350,Tajo,Aceña,1987-10-06,"24,00","1,00",0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651351 entries, 0 to 651350
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   AMBITO_NOMBRE   651351 non-null  object
 1   EMBALSE_NOMBRE  651351 non-null  object
 2   FECHA           651351 non-null  datetime64[ns]
 3   AGUA_TOTAL      651351 non-null  object
 4   AGUA_ACTUAL     651351 non-null  object
 5   ELECTRICO_FLAG  651351 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 29.8+ MB

In [54]:
from geopy.geocoders import Nominatim

In [61]:
 
geolocator = Nominatim()
#location = geolocator.geocode("175 5th Avenue NYC")

ConfigurationError: Using Nominatim with default or sample `user_agent` "geopy/2.3.0" is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`.